        <h3>New book</h3>
        <div class="book-form">
          <%= form_with model: book_new do |f| %>
          <div class="form-group">
            <label for-"inputTitle">Title</label><br>
            <%= f.text_field :title, id:"inputTitle" %>
          </div>
          <div class="form-group">
            <label for="inputOpinion">Opinion</label><br>
            <%= f.text_area :body, id:"inputOpinion" %>
          </div>
            <%= f.submit'Create Book', class:"btn btn-lg py-2 btn-success rounded mx-1" %>
          <% end %>
        </div>