<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="sideber">
        <h3>User info</h3>
        <table class="user-info">
          <tr>
            <th><%= image_tag book.user.get_profile_image(100,100) %></th>
            <td></td>
          </tr>
          <tr>
            <th><strong>name<strong></th>
            <td><strong><%= current_user.name %></strong></td>
          </tr>
          <tr>
            <th><strong>introduction</strong></th>
            <td><strong><%= current_user.introduction %></strong></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-8">
      <h3>Books</h3>
    </div>
  </div>
</div>
